body {
    background-color: #fcfcfc;
    ;
}

.strong-text {
    font-weight: bold;
}

.custom-shadow {
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.288);
}

img {
    width: 30px;
    height: 30px;
}

.vz-navbar {
    background-color: #0968E5;
    padding: 0.5rem 0.75rem;
    height: 70px !important;
}

.navbar-logo {
    height: 56px;
    width: auto;
}

.menu-icon {
    height: 36px;
    width: auto;
}

.dropdown-toggle::after {
    display: none !important;
}

/* Navbar for smaller screens (Mobile) */
@media (max-width: 768px) {
    .navbar {
        padding: 0.25rem 0.5rem;
        height: 60px !important;
    }

    .navbar-logo {
        height: 42px;
    }

    .menu-icon {
        height: 30px;
    }

    img {
        width: 20px;
        height: 20px;
    }

    .button {
        font-size: 12px;
        padding: 6px 10px;
        display: block;
        width: 50%;
        margin: 0 auto;
    }

    .btn-table {
        font-size: 97%;
        width: 50px;
        height: 30px;
    }

    .mb-3.text-center {
        display: grid;
        gap: 8px;
    }

    .table-style th,
    .table-style td {
        font-size: 12px;
        padding: 6px 4px;
        border: none !important;
    }
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 12px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 12px;
}

.table th:first-child {
    border-top-left-radius: 12px;
}

.table th:last-child {
    border-top-right-radius: 12px;
}

.table-style th,
.table-style td {
    font-weight: bold;
    line-height: 2.6;
    color: white;
    border: none !important;
    /* Removed border */
}

.table-style {
    border-collapse: collapse;
    font-size: 14px;
    /* Default font size */
}

.table-style th {
    background-color: #094EBE;
}

.table-style tbody tr:nth-child(odd) td {
    background-color: #0968E5;
}

.table-style tbody tr:nth-child(even) td {
    background-color: #094EBE;
}

.report-card .card-body {
    padding: 0.4rem;
}

/* Dropdown Menu */
.dropdown-toggle::after {
    display: none !important;
    /* Remove default dropdown arrow */
}

/* Styling for alert messages */
.alert {
    padding: 0.75rem;
    font-size: 16px;
}

/* Styling for the filter form */
.form-select {
    padding: 8px;
    font-size: 14px;
}

.table th {
    color: white;
    font-weight: bold;
    background-color: #0968E5;
    border-bottom: 20px;
}